
@media screen and (max-width: 1000px) {
  th {
    border: 2px solid;
    width: 50px !important;
    height: 50px !important;
  }
  input {
    width: 50px !important;
    height: 50px !important;
  }
  body {
    height: 550px;
  }
  button {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 550px) {
  th {
    border: 2px solid;
    width: 40px !important;
    height: 40px !important;
    font-size: 20px !important;
  }
  input {
    width: 40px !important;
    height: 40px !important;
    font-size: 20px !important;
  }
  body {
    height: 520px;
  }
  button {
    font-size: 12px !important ;
  }

}
@media screen and (max-width: 450px) {
  th {
    width: 35px !important;
    height: 35px !important;
  }
  input {
    width: 35px !important;
    height: 35px !important;
  }
  body {
    height: 500px;
  }
}
@media screen and (max-width: 360px) {
  th {
    width: 30px !important;
    height: 30px !important;
  }
  input {
    width: 30px !important;
    height: 30px !important;
  }
  body {
    height: 480px;
  }
  button {
    font-size: 8px !important ;
  }
}
@media screen and (max-width: 290px) {
  th {
    width: 25px !important;
  }
  input {
    width: 25px !important;
  }
  body {
    height: 480px;
  }
  button {
    font-size: 8px !important ;
  }
}

