@media screen and (max-width: 480px) {
  #sudoko {
    height: 540px;
  }
  .buttons {
    width: 400px;
    max-width: 400px;
  }
  button span {
    font-size: 12px !important;
  }
  #table {
    width: 400px;
    height: 400px;
  }
  th {
    width: 43.8px;
    height: 43.8px;
  }
  input {
    width: 43.8px;
    height: 43.8px;
    max-width: 43.8px !important;
    max-height: 43.8px !important;
  }

  .rowTr3::before,
  .rowTr6::before,
  .hoverTr3::before,
  .hoverTr6::before {
    width: 399px;
    top: -2px;
  }
  #colTh2:nth-last-child(7)::before,
  #colTh5:nth-last-child(4)::before,
  #hoverTh2::before,
  #hoverTh5::before {
    height: 47px;
  }
}
@media screen and (max-width: 440px) {
  #sudoko {
    height: 530px;
  }
  .buttons {
    width: 350px;
    max-width: 350px;
  }
  button span {
    font-size: 9px !important;
  }
  #table {
    width: 350px;
    height: 350px;
  }
  th {
    width: 38.2px;
    height: 38.2px;
  }
  input {
    width: 38.2px;
    height: 38.2px;
    max-width: 38.2px !important;
    max-height: 38.2px !important;
  }

  .rowTr3::before,
  .rowTr6::before,
  .hoverTr3::before,
  .hoverTr6::before {
    width: 349px;
    top: -2px;
  }
  #colTh2:nth-last-child(7)::before,
  #colTh5:nth-last-child(4)::before,
  #hoverTh2::before,
  #hoverTh5::before {
    height: 40px;
  }
}
@media screen and (max-width: 410px) {
  #sudoko {
    height: 460px;
  }
  .buttons {
    width: 300px;
    max-width: 300px;
  }
  button span {
    font-size: 7px !important;
  }
  #table {
    width: 300px;
    height: 300px;
  }
  th {
    width: 32.6px;
    height: 32.6px;
  }
  input {
    width: 32.6px;
    height: 32.6px;
    max-width: 32.6px !important;
    max-height: 32.6px !important;
  }

  .rowTr3::before,
  .rowTr6::before,
  .hoverTr3::before,
  .hoverTr6::before {
    width: 297px;
    top: -2px;
  }
  #colTh2:nth-last-child(7)::before,
  #colTh5:nth-last-child(4)::before,
  #hoverTh2::before,
  #hoverTh5::before {
    height: 35px;
  }
}
