* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 600px;
  align-items: center;
}
#table {
  border: 2px solid #6e7c8c;
}

th {
  border: 1px solid rgba(110, 124, 140, 0.3);
  width: 55px;
  height: 55px;
  font-size: 30px;
  text-align: center !important;
  font-weight: 900;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
button {
  border: 2px solid rgba(110, 124, 140, 0.3);
  border-radius: 15px !important;
  padding: 2px 5px;
  background-color: inherit;
  color: #18010c;
  font-size: 20px !important;
  font-weight: 1000;
  cursor: pointer;
}
input {
  width: 55px !important;
  height: 55px !important;
  border: 0;
  text-align: center;
  font-weight: 1000;
  font-size: 30px;
  background-color: initial;
}
.BGColorInput {
  background-color: #b6bdc6;
}
#hoverTh0,
#hoverTh1,
#hoverTh2,
#hoverTh3,
#hoverTh4,
#hoverTh5,
#hoverTh6,
#hoverTh7,
#hoverTh8 {
  background-color: rgba(0, 169, 255, 0.3);
}

.hoverTr0,
.hoverTr1,
.hoverTr2,
.hoverTr3,
.hoverTr4,
.hoverTr5,
.hoverTr6,
.hoverTr7,
.hoverTr8 {
  background-color: rgba(0, 169, 255, 0.3);
}

#colTh2 {
  border-right: 2px solid #6e7c8c;
}
#colTh2 input {
  border-right: 0px solid #6e7c8c;
}
#colTh3 {
  border-left: 2px solid #6e7c8c;
}
#colTh3 input {
  border-left: 0px solid #6e7c8c;
}
#colTh5 {
  border-right: 2px solid #6e7c8c;
}
#colTh5 input {
  border-right: 0px solid #6e7c8c;
}
#colTh6 {
  border-left: 2px solid #6e7c8c;
}
#colTh6 input {
  border-left: 0px solid #6e7c8c;
}

#hoverTh2 {
  border-right: 2px solid #6e7c8c;
}
#hoverTh2 input {
  border-right: 0px solid #6e7c8c;
}
#hoverTh3 {
  border-left: 2px solid #6e7c8c;
}
#hoverTh3 input {
  border-left: 0px solid #6e7c8c;
}
#hoverTh5 {
  border-right: 2px solid #6e7c8c;
}
#hoverTh5 input {
  border-right: 0px solid #6e7c8c;
}
#hoverTh6 {
  border-left: 2px solid #6e7c8c;
}
#hoverTh6 input {
  border-left: 0px solid #6e7c8c;
}

.rowTr2 th {
  border-bottom: 2px solid #6e7c8c;
}
.rowTr3 th {
  border-top: 2px solid #6e7c8c;
}
.rowTr5 th {
  border-bottom: 2px solid #6e7c8c;
}
.rowTr6 th {
  border-top: 2px solid #6e7c8c;
}

.hoverTr2 th {
  border-bottom: 2px solid #6e7c8c;
}
.hoverTr3 th {
  border-top: 2px solid #6e7c8c;
}
.hoverTr5 th {
  border-bottom: 2px solid #6e7c8c;
}
.hoverTr6 th {
  border-top: 2px solid #6e7c8c;
}
