* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(223, 213, 177, 1) 25%,
    rgba(240, 203, 76, 1) 50%,
    rgba(223, 213, 177, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: center;
  height: 580px;
  align-items: center;
}
tr{
  background-color: rgb(255, 255, 255);  
  opacity: .8;
}
th {
  border: 2px solid;
  width: 55px;
  height: 55px;
  font-size: 30px;
  text-align: center !important;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
button{
  border: 1px solid;
  border-radius: 5px;
  padding: 1px 5px;
  background-color: inherit;
  color: #18010c;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
}
input {
  width: 55px;
  height: 55px;
  border: 0;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
}
#hoverTh0,
#hoverTh1,
#hoverTh2,
#hoverTh3,
#hoverTh4,
#hoverTh5,
#hoverTh6,
#hoverTh7,
#hoverTh8{
  background-color: rgb(238, 223, 8);
}
.hoverTr0,
.hoverTr1,
.hoverTr2,
.hoverTr3,
.hoverTr4,
.hoverTr5,
.hoverTr6,
.hoverTr7,
.hoverTr8{
  background-color: rgb(238, 223, 8);
}


