* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(223, 213, 177, 1) 25%,
    rgba(240, 203, 76, 1) 50%,
    rgba(223, 213, 177, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: center;
  height: 580px;
  align-items: center;
}
tr {
  background-color: aliceblue;
}
th {
  border: 2px solid;
  width: 55px;
  height: 55px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
button{
  border: 1px solid;
  border-radius: 5px;
  padding: 1px 5px;
  background-color: inherit;
  color: #18010c;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
}
input{
  width: 55px;
  height: 55px;
  border: 0;
  background-color: aliceblue;
  text-align: center;
  font-weight: 800;
}
input[type="text"] {
  font-size:30px;
  color: blueviolet;
}
span{
  display: flex;
  justify-content: center;
  font-size: 30px;
}
